openapi: 3.0.3
info:
  title: Event Management API
  description: APIs for fetching event agenda and speakers
  version: 1.0.0

servers:
  - url: https://events.startupmission.in

paths:

  /api/event/{eventSlug}/agenda/venue:
    get:
      summary: Get event agenda grouped by date and venue
      description: Returns the full agenda of an event grouped by date and venue
      parameters:
        - name: eventSlug
          in: path
          required: true
          description: Unique slug of the event
          schema:
            type: string
            example: huddle-global-2024
      responses:
        "200":
          description: Agenda response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgendaResponse"

  /api/event/{eventSlug}/speakers:
    get:
      summary: Get event speakers grouped by category
      description: Returns speakers of an event grouped by category (government, speaker, investor, etc.)
      parameters:
        - name: eventSlug
          in: path
          required: true
          description: Unique slug of the event
          schema:
            type: string
            example: huddle-global-2024
      responses:
        "200":
          description: Speakers response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpeakersResponse"

components:
  schemas:

    AgendaResponse:
      type: object
      properties:
        agenda:
          type: object
          description: Agenda grouped by date and venue
          additionalProperties:
            $ref: "#/components/schemas/VenueAgenda"
        categories:
          type: array
          items:
            type: string
        venues:
          type: array
          items:
            type: string

    VenueAgenda:
      type: object
      description: Agenda grouped by venue
      additionalProperties:
        type: array
        items:
          $ref: "#/components/schemas/Session"

    Session:
      type: object
      properties:
        id:
          type: string
          example: nl0kn
        name:
          type: string
        start_time:
          type: string
          format: date-time
          example: "2024-11-28 10:30:00"
        end_time:
          type: string
          format: date-time
          example: "2024-11-28 11:00:00"
        description:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
        link:
          type: string
          nullable: true
        link_text:
          type: string
          nullable: true
        venue:
          type: string
        speakers:
          $ref: "#/components/schemas/SessionSpeakers"
        campaign_id:
          type: string

    SessionSpeakers:
      type: object
      description: Speakers grouped by role (speaker, panelist, moderator)
      additionalProperties:
        type: array
        items:
          $ref: "#/components/schemas/Speaker"

    SpeakersResponse:
      type: object
      description: Speakers grouped by category
      additionalProperties:
        type: array
        items:
          $ref: "#/components/schemas/Speaker"

    Speaker:
      type: object
      properties:
        id:
          type: string
          example: 45Eq4
        name:
          type: string
        designation:
          type: string
          nullable: true
        organisation:
          type: string
          nullable: true
        photo:
          type: string
          format: uri
          nullable: true
        linkedin:
          type: string
          format: uri
          nullable: true
        external_id:
          type: string
          nullable: true
        order:
          type: integer
          example: 1
        category:
          type: string
          example: government
